.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Create a circular shape */
    object-fit: cover; /* Maintain aspect ratio and cover container */
  }
  

  
  .about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h2 {
    color: #215f5f;
  
  }
  
  span {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }