
.project-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 100px;
  border: 10px solid #ccc;
  border-radius: 50px;
  box-sizing: inherit;
  box-shadow: 0 0 10px blueviolet;
  background-color: #fff;
  }
  
  /* .code-section {
    background-color: #f5f5f5;
    padding: 30px;
    margin-top: 10px;
  } */
  