
body{
    font-family: Arial;
    padding:10px;
background:lightgray;
}
h1{
    text-align: center;
    color:black;
}
header{
    text-align: center;
    font-size: 20px;
    padding:10px;
       }
       ul{
        list-style-type:none;
        margin:0;
        padding:0;
        overflow:hidden;
        background-color:lightgray;
        position:sticky;
        top:50px;
       }
li {
display: inline;
float: left;
}
li a{
    display:block;
    color:black;
    padding:20px 20px;
   text-decoration:none;
}
    li a:hover{
    background-color:white;

    }